.App {
  font-family: Arial;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    display: flex;
    margin: 1em 0;
    gap: 1em;
  }

  h1  {
    text-align: center;
  }
}
